<a href="https://colab.research.google.com/github/240901085/240901085-python/blob/main/Data_cleaning_and_prep_4(a).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with NaN\n",df)
print("\n")
print("Dropped DataFrame\n",df.dropna())
print("\n")

Original DataFrame with NaN
         one       two     three
a  0.608154  1.096744 -0.639944
b       NaN       NaN       NaN
c  0.549423  0.728061 -0.410704
d -1.188540 -0.770148 -2.283293
e       NaN       NaN       NaN
f  0.181065  1.209109 -0.895308


Dropped DataFrame
         one       two     three
a  0.608154  1.096744 -0.639944
c  0.549423  0.728061 -0.410704
d -1.188540 -0.770148 -2.283293
f  0.181065  1.209109 -0.895308

In [2]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print("Original DataFrame:\n",df)
print("\n")
print("NaN replaced with '0':\n")
print(df.fillna)

Original DataFrame:
         one       two     three
a -0.845758 -0.965779 -0.109532
b       NaN       NaN       NaN
c -1.281219 -0.000701  0.973159


NaN replaced with '0':

<bound method NDFrame.fillna of         one       two     three
a -0.845758 -0.965779 -0.109532
b       NaN       NaN       NaN
c -1.281219 -0.000701  0.973159>

In [3]:
df=pd.DataFrame({'one':[10,20,80,40,50],'two':[60,70,80,0,10]})
print("OOriginal Dataframe:\n",df)
print("\nDataFrame with replaced values:\n")
print(df.replace({10:5,80:3}))

OOriginal Dataframe:
    one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2    3    3
3   40    0
4   50    5

In [6]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','ee','f'])
print("Originaal DataFrame:\n",df)
print("\nNan-with True fill:\n")
print(df['one'].isnull())

Originaal DataFrame:
          one       two     three
a  -3.350365  0.002387  1.164046
b        NaN       NaN       NaN
c  -2.169685  0.299936 -0.333323
d  -0.756175 -1.709506 -1.106734
ee       NaN       NaN       NaN
f  -0.398520 -1.946590 -0.660429

Nan-with True fill:

a     False
b      True
c     False
d     False
ee     True
f     False
Name: one, dtype: bool

In [5]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original Dataframe:\n",df)
print("\nNaN-Filled with Background values:\n")
print(df.fillna(method='bfill'))

Original Dataframe:
         one       two     three
a -0.485481 -0.517658 -0.744708
b       NaN       NaN       NaN
c  0.282475  0.354816  0.301062
d -1.681716 -0.457515  0.767981
e       NaN       NaN       NaN
f  0.574502  0.166902  0.693022

NaN-Filled with Background values:

        one       two     three
a -0.485481 -0.517658 -0.744708
b  0.282475  0.354816  0.301062
c  0.282475  0.354816  0.301062
d -1.681716 -0.457515  0.767981
e  0.574502  0.166902  0.693022
f  0.574502  0.166902  0.693022

/tmp/ipython-input-1498132536.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='bfill'))