<a href="https://colab.research.google.com/github/240901085/240901085-python/blob/main/pandas2func.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                        i

In [1]:
import pandas as pd
import numpy as np
print("DataFrame.apply function:\n")
info=pd.DataFrame([[2,7]]*3,columns=['P','Q'])
print("\nOriginal DataFrame:\n",info)
print("\nSquare rootof DataFrame:\n",info.apply(np.sqrt))
print("\nSum of each column:\n",info.apply(np.sum,axis=0))
print("\nSum of each row:\n",info.apply(np.sum,axis=1))

DataFrame.apply function:


Original DataFrame:
    P  Q
0  2  7
1  2  7
2  2  7

Square rootof DataFrame:
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

Sum of each column:
 P     6
Q    21
dtype: int64

Sum of each row:
 0    9
1    9
2    9
dtype: int64

In [3]:
info=pd.DataFrame([[1,5,7],[2,7,8],[3,6,9]],columns=['X','Y','Z'])
print("\nOriginal DataFrame:\n",info)
print("\nMinimum and Maximum of each column:\n")
print(info.agg(['min','max']))

Original DataFrame:
    X  Y  Z
0  1  5  7
1  2  7  8
2  3  6  9

Minimum and Maximum of each column:

     X  Y  Z
min  1  5  7
max  3  7  9

In [5]:
#DataFrame.Assign function
print("\nDataFrame.Assign function:\n")
d2=pd.DataFrame([['Dale',123],['Mark',143]],columns=['Emp','ID'])
print("\nOriginal DataFrame:\n",d2)
d2['Age']=[35,40]
print("\nAdding new column:\n",d2)
d=d2.assign(Sex=['Male','Male'])
print("\nAdding new column:\n",d)

DataFrame.Assign function:


Original DataFrame:
     Emp   ID
0  Dale  123
1  Mark  143

Adding new column:
     Emp   ID  Age
0  Dale  123   35
1  Mark  143   40

Adding new column:
     Emp   ID  Age   Sex
0  Dale  123   35  Male
1  Mark  143   40  Male

In [11]:
print("\nDataFrame.Sort function:\n")
info=pd.DataFrame(np.random.random((5,2)),index=[3,2,0,4,1],columns=['cols3','cols4'])
print(info)
info2=info.sort_index()
print("\nSort Index:\n",info2)
info3=info.sort_values(by='cols3')
print("\nSort Values:\n",info3)

DataFrame.Sort function:

      cols3     cols4
3  0.130476  0.066192
2  0.013647  0.755942
0  0.029196  0.541520
4  0.852551  0.678207
1  0.126962  0.125353

Sort Index:
       cols3     cols4
0  0.029196  0.541520
1  0.126962  0.125353
2  0.013647  0.755942
3  0.130476  0.066192
4  0.852551  0.678207

Sort Values:
       cols3     cols4
2  0.013647  0.755942
0  0.029196  0.541520
1  0.126962  0.125353
3  0.130476  0.066192
4  0.852551  0.678207

In [12]:
print("\nDataFrame.Merge function:\n")
left=pd.DataFrame({'id':[1,2,3,4,5],'Name':['ALex','Amy','Allen','Alice','Ayoung'],'sub':['sub1','sub2','sub4','sub6','sub5']})
right=pd.DataFrame({'id':[1,2,3,4,5],'Name':['Billy','Brain','Bran','Bryce','Betty'],'sub':['sub2','sub4','sub3','sub6','sub5']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

DataFrame.Merge function:

   id    Name   sub
0   1    ALex  sub1
1   2     Amy  sub2
2   3   Allen  sub4
3   4   Alice  sub6
4   5  Ayoung  sub5
   id   Name   sub
0   1  Billy  sub2
1   2  Brain  sub4
2   3   Bran  sub3
3   4  Bryce  sub6
4   5  Betty  sub5
   id  Name_x sub_x Name_y sub_y
0   1    ALex  sub1  Billy  sub2
1   2     Amy  sub2  Brain  sub4
2   3   Allen  sub4   Bran  sub3
3   4   Alice  sub6  Bryce  sub6
4   5  Ayoung  sub5  Betty  sub5